@charset "utf-8";
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: bold;
}

.markdown h1 {
  color: #4169a5;
  font-size: 25px;
  /*text-shadow: 0 1px 1px rgba(0,0,0,0.4);*/
  /*text-shadow: 0px 1px 0px #e5e5ee;*/
  /*text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;*/
  text-shadow: 1px 1px 0px #fcf8e3, 2px 2px 0px #826430;
  margin-top: 70px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #4169a5;
}
.markdown h1:before {
  content:"《  ";
}
.markdown h1:after {
  content:"  》";
}

.markdown h2 {
  color: #4169a5;
  /*border-bottom: 1px solid #d6a042;*/
  font-size: 18px;
  text-shadow: 0px 1px 0px #e5e5ee;
  margin-top: 50px;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ccc;
}
.markdown h2:before {
  content:"【  ";
}
.markdown h2:after {
  content:"  】";
}

.markdown h3 {
  border-bottom: 1px solid #d6a042;
  font-size: 16px;
}

.markdown h4 {
  font-size: 15px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h6 {
  color: #777;
  background-color: inherit;
  font-size: 12px;
}

.markdown hr {
  height: 0.2em;
  border: 0;
  color: #ccc;
  background-color: #ccc;
}

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
  margin: 15px 0;
}

.markdown p{
  margin:1em 0;
}

.markdown pre { 
  background-color: #fcf8e3;
  border: 1px solid #d6a042;
  border-radius: 3px;
  overflow: auto;
  padding: 5px;
}

.markdown pre code {
  background-color: #fcf8e3;
  border: none;
  padding: 0;
}

.markdown code {
  font-family: Georgia, Palatino, 'Microsoft YaHei', Consolas, Monaco, Andale Mono, monospace;
  color: #f15b11;
  font-size: 14px;
  background-color:#fcf8e3;
  border: 1px solid #d6a042;
  border-radius: 3px;
  padding: 0 0.2em;
  line-height: 1.42857143;
}

.markdown pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

.markdown a{text-decoration:none;}
.markdown a:visited{ color: #faa700; }
.markdown a:hover{ color: #faa700; }
.markdown a:active{ color:#faa700; }
.markdown a:focus{ outline: thin dotted; }
.markdown a:hover, .markdown a:active{ outline: 0; }

.markdown ::-moz-selection{background:rgba(255,255,0,0.3);color:#333}
.markdown ::selection{background:rgba(255,255,0,0.3);color:#333}

.markdown a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
.markdown a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

.markdown blockquote{
  color:#666;
  margin:0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

.markdown ul, .markdown ol { margin: 1em 0; padding: 0 0 0 2em; }
.markdown li p:last-child { margin:0 }
.markdown dd { margin: 0 0 0 2em; }

.markdown img { position: relative; border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width:80%; left:10%; }

.markdown table { border-collapse: collapse; border-spacing: 0; }
.markdown td { vertical-align: top; }

@media only screen and (min-width: 480px) {
  .markdown {
    font-size:14px;
    font-family: Consolas,Microsoft YaHei,SimHei,STHeiti,SimSun,STSong,sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .markdown {
    font-size:16px;
    font-family: Consolas,Microsoft YaHei,SimHei,STHeiti,SimSun,STSong,sans-serif;
  }
}
.alert {
  margin-bottom: 20px;
  margin-top: 0;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 0;
  opacity: 1;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.alert-warning {
  border-color: #dfb56c;
  color: #826430;
  background: #efe1b3;
}
.alert hr {
  margin-top: 18px;
  margin-bottom: 18px;
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.alert-warning hr {
  border-top-color: #d6a042;
}
.bg-1 {
  background: #878FF4;
  background: radial-gradient(circle at bottom right,#33b1f8,#aa81f3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b1f8', endColorstr='#aa81f3', GradientType=0);
}