.svn/*
.streams/**
.DS_store
.idea/workspace.xml

WebRoot/WEB-INF/classes/pc
WebRoot/WEB-INF/classes/key
WebRoot/WEB-INF/classes/*.properties
WebRoot/WEB-INF/classes/**
out/**
Test/**
public/web/zxgl/**
public/docx/*.*

public/lib/img/*jpg
public/lib/img/*gif
public/lib/img/*png

mongo-bak
xboson-db-dump.sql