.svn/*
WebRoot/WEB-INF/classes/pc
WebRoot/WEB-INF/classes/key
WebRoot/WEB-INF/classes/*.properties
WebRoot/WEB-INF/classes/**
out/**
Test/**
.idea/workspace.xml
xboson-db-dump.sql
public/web/zxgl/**

*.class
*.zip
*.7z
*.rar
*.log
*.exe
*.o
*.gch
*.obj
*.sbr
*.lib
*.tlog
*.pdb
*.exp
*.node
*.sln
*.jar

*.jpg
*.png
*.jpeg
*.gif
*.ttf
*.woff
*.svg
