<div style='margin-top: 50px; margin-bottom: 50px;'>
  <style>
    .paginate_button { display: inline-block; margin: 1px 3px; cursor: pointer; }
    .dataTables_paginate { position:absolute; right:0; bottom:0; }
    .dataTables_paginate .disabled { color: #ccc; }
  </style>
  <div class="dataTables_wrapper">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <style> td { word-break: break-all; min-width: 80px; } </style>
    <table id="###id###" class="###class### table table-bordered table-striped auto_tag_table_api"
            data-api='###api###' data-app='###app###' data-mod='###mod###' 
            data-form='###form###' data-dataName='###dataName###'>
      <pit/>
    </table>
  </div>
</div>