<script type="text/javascript" language="JavaScript" src="/comm.js"></script>
  <script type="text/javascript">
	var emrzyjz1data2;
	$(function () {
	
	   showDatacssjl();
	
	});
	function emrzyjz1callback(retData){
		emrzyjz1data2=retData;
		LC_SetMapData("emrzyjz1form",emrzyjz1data2.zyjz1data);
		var timeList=["dc2001_ryrq","dc2001_cyrq"];
		//LC_FormatTextYMD("emrzyjz1form",timeList);
	}
	function showDatacssjl(){
		if(retCheckFlg){	
				var url ="emrzyjz1/"; 	
				var itemsList=[];	
				var info= new Map();	
				info.put("zylsh","20120040011");
				info.put("jgdm","4");
				LC_AjaxGet(EMRBaseUrl+url,"emrzyjz1form","emrzyjz1callback",info,itemsList);	
		}		
	}
</script>

<div class="mainsW-912">
     <form  id="emrzyjz1form">
   		<div>住院记录</div>
        <div class="mainW">
               <div class="itemsW-272">
                    <div class="itemLW-112">
                      入院日期：
                    </div>
 		    <div class="itemRW">
                       <input id="dc2001_ryrq"  class="textRW-96" ></input>  
                    </div>
               </div>
               <div class="itemsW-272">
                    <div class="itemLW-112">
                      结束时间：
                    </div>
 		    <div class="itemRW">
                        <input id="dc2001_cyrq"  class="textRW-96" ></input>  
                    </div>
               </div>
               <div class="itemsW-272">
                    <div class="itemLW-112">
                     住院天数：
                    </div>
 		    <div class="itemRW">
                    <input id="dc2001_zyts" class="textRW-96" >
                    </div>
               </div>              
		        <div class="itemsW-272">
                    <div class="itemLW-112">
	               门(急)诊诊断：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_mzzd" class="textRW-96" >
                    </div>
               </div>	          
		        <div class="itemsW-272">
                    <div class="itemLW-112">
	               入院方式：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_ryfs"  class="textRW-96"  >
                    </div>
               </div>                
		        <div class="itemsW-272">
                    <div class="itemLW-112">
	               入院情况：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_ryqk" class="textRW-96" >
                    </div>
               </div>    
          <div class="itemsW-272">
                    <div class="itemLW-112">
	               入院科室：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_ryksmc"  class="textRW-96" >
                    </div>
               </div>    
                <div class="itemsW-272">
                    <div class="itemLW-112">
	               出院科室：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_cyks" class="textRW-96" >
                    </div>
               </div>     
            <div class="itemsW-272">
                    <div class="itemLW-112">
	              联系人：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_lxry" class="textRW-96">
                    </div>
               </div>     
              <div class="itemsW-272">
                    <div class="itemLW-112">
	              联系关系：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_lxrgx" class="textRW-96">
                    </div>
               </div>       
              <div class="itemsW-272">
                    <div class="itemLW-112">
	              联系手机：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_lxrsj"  class="textRW-96" >
                    </div>
               </div>
            <div class="itemsW-272">
                    <div class="itemLW-112">
	              联系人固话：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_lxrdh"  class="textRW-96"  >
                    </div>
               </div>               
           </div>
       <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              联系人地址：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_lxrdz" size="52" />
                    </div>
               </div>
               
       </div>      
           <div class="mainW">
       		      <div class="itemsW-272">
                    <div class="itemLW-112">
	              住院原因：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_zyyy"  class="textRW-96" >
                    </div>
               </div>              
                 <div class="itemsW-272">
                    <div class="itemLW-112">
	              住院症状：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_zzmc"  class="textRW-96" >
                    </div>
               </div>              
       </div>      
           <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              入院诊断描述：
                    </div>
 		    <div class="itemRW">
                   		<input id="dc2001_ryzdms" size="52" />
                    </div>
               </div>              
       </div>    
             <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              入院情况：
                    </div>
 		    <div class="itemRW">
                   		<textarea id="dc2001_ryqkms" rows="5" cols="60"></textarea>
                    </div>
               </div>              
       </div>
         <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              出院情况：
                    </div>
 		    <div class="itemRW">
                   		<textarea id="dc2001_cyqkms" rows="5" cols="60"></textarea>
                    </div>
               </div>              
       </div>
         <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              诊疗经过：
                    </div>
 		    <div class="itemRW">
                   		<textarea id="dc2001_zljg" rows="5" cols="60"></textarea>
                    </div>
               </div>               
       </div>
       
         <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              出院医嘱：
                    </div>
 		    <div class="itemRW">
                   		<textarea id="dc2001_cyyz" rows="5" cols="60"></textarea>
                    </div>
               </div>               
       </div>
       <div class="mainW">
       		      <div class="itemsW-544">
                    <div class="itemLW-112">
	              随访要求：
                    </div>
 		    <div class="itemRW">
                   		<textarea id="dc2001_sfyq" rows="5" cols="60"></textarea>
                    </div>
               </div>               
       </div>
   </form>
</div>
     

