.mainsW{width: auto;float: left;}
.mainW{width: auto; float: left;}
.mainRW{width: auto; float: right;}
.mainCW{width: auto; float: left; margin-left: auto;  margin-right: auto; text-align: center; }
.butLeft{width: 100%; float: left;text-align: left;padding:2px;}
.butCenter{width: 100%; margin-left: auto; margin-right: auto; text-align: center;padding:2px;}
.butRight{width: 100%; float: right;text-align: right; padding:2px;}


.mainsW-16{width:16px;float: left;}
.mainW-16{width: 16px;float: left;}
.itemsW-16{width: 16px; float: left;padding:2px 0;}
.itemLW-16{text-align: right; width: 16px; float: left; }
.itemCW-16{width: 16px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-16{width: 16px; float: left;}

.mainsW-32{width:32px;float: left;}
.mainW-32{width: 32px;float: left;}
.itemsW-32{width: 32px; float: left;padding:2px 0;}
.itemLW-32{text-align: right; width: 32px; float: left; }
.itemCW-32{width: 32px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-32{width: 32px; float: left;}

.mainsW-48{width:48px;float: left;}
.mainW-48{width: 48px;float: left;}
.itemsW-48{width: 48px; float: left;padding:2px 0;}
.itemLW-48{text-align: right; width: 48px; float: left; }
.itemCW-48{width: 48px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-48{width: 48px; float: left;}

.mainsW-64{width:64px;float: left;}
.mainW-64{width: 64px;float: left;}
.itemsW-64{width: 64px; float: left;padding:2px 0;}
.itemLW-64{text-align: right; width: 64px; float: left; }
.itemCW-64{width: 64px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-64{width: 64px; float: left;}

.mainsW-80{width:80px;float: left;}
.mainW-80{width: 80px;float: left;}
.itemsW-80{width: 80px; float: left;padding:2px 0;}
.itemLW-80{text-align: right; width: 80px; float: left; }
.itemCW-80{width: 80px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-80{width: 80px; float: left;}

.mainsW-96{width:96px;float: left;}
.mainW-96{width: 96px;float: left;}
.itemsW-96{width: 96px; float: left;padding:2px 0;}
.itemLW-96{text-align: right; width: 96px; float: left; }
.itemCW-96{width: 96px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-96{width: 96px; float: left;}

.mainsW-112{width:112px;float: left;}
.mainW-112{width: 112px;float: left;}
.itemsW-112{width: 112px; float: left;padding:2px 0;}
.itemLW-112{text-align: right; width: 112px; float: left; }
.itemCW-112{width: 112px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-112{width: 112px; float: left;}

.mainsW-128{width:128px;float: left;}
.mainW-128{width: 128px;float: left;}
.itemsW-128{width: 128px; float: left;padding:2px 0;}
.itemLW-128{text-align: right; width: 128px; float: left; }
.itemCW-128{width: 128px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-128{width: 128px; float: left;}

.mainsW-133{width:133px;float: left;}
.mainW-133{width: 133px;float: left;}
.itemsW-133{width: 133px; float: left;padding:2px 0;}
.itemLW-133{text-align: right; width: 133px; float: left; }
.itemCW-133{width: 133px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-133{width: 133px; float: left;}
.itemRW-39{width: 39px; float: left;}

.mainsW-144{width:144px;float: left;}
.mainW-144{width: 144px;float: left;}
.itemsW-144{width: 144px; float: left;padding:2px 0;}
.itemLW-144{text-align: right; width: 144px; float: left; }
.itemCW-144{width: 144px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-144{width: 144px; float: left;}

.mainsW-160{width:160px;float: left;}
.mainW-160{width: 160px;float: left;}
.itemsW-160{width: 160px; float: left;padding:2px 0;}
.itemLW-160{text-align: right; width: 160px; float: left; }
.itemCW-160{width: 160px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-160{width: 160px; float: left;}

.mainsW-176{width:176px;float: left;}
.mainW-176{width: 176px;float: left;}
.itemsW-176{width: 176px; float: left;padding:2px 0;}
.itemLW-176{text-align: right; width: 176px; float: left; }
.itemCW-176{width: 176px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-176{width: 176px; float: left;}

.mainsW-192{width:192px;float: left;}
.mainW-192{width: 192px;float: left;}
.itemsW-192{width: 192px; float: left;padding:2px 0;}
.itemLW-192{text-align: right; width: 192px; float: left; }
.itemCW-192{width: 192px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-192{width: 192px; float: left;}

.mainsW-208{width:208px;float: left;}
.mainW-208{width: 208px;float: left;}
.itemsW-208{width: 208px; float: left;padding:2px 0;}
.itemLW-208{text-align: right; width: 208px; float: left; }
.itemCW-208{width: 208px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-208{width: 208px; float: left;}

.mainsW-224{width:224px;float: left;}
.mainW-224{width: 224px;float: left;}
.itemsW-224{width: 224px; float: left;padding:2px 0;}
.itemLW-224{text-align: right; width: 224px; float: left; }
.itemCW-224{width: 224px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-224{width: 224px; float: left;}

.mainsW-240{width:240px;float: left;}
.mainW-240{width: 240px;float: left;}
.itemsW-240{width: 240px; float: left;padding:2px 0;}
.itemLW-240{text-align: right; width: 240px; float: left; }
.itemCW-240{width: 240px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-240{width: 240px; float: left;}

.mainsW-256{width:256px;float: left;}
.mainW-256{width: 256px;float: left;}
.itemsW-256{width: 256px; float: left;padding:2px 0;}
.itemLW-256{text-align: right; width: 256px; float: left; }
.itemCW-256{width: 256px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-256{width: 256px; float: left;}

.mainsW-272{width:272px;float: left;}
.mainW-272{width: 272px;float: left;}
.itemsW-272{width: 272px; float: left;padding:2px 0;}
.itemLW-272{text-align: right; width: 272px; float: left; }
.itemCW-272{width: 272px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-272{width: 272px; float: left;}

.mainsW-288{width:288px;float: left;}
.mainW-288{width: 288px;float: left;}
.itemsW-288{width: 288px; float: left;padding:2px 0;}
.itemLW-288{text-align: right; width: 288px; float: left; }
.itemCW-288{width: 288px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-288{width: 288px; float: left;}

.mainsW-304{width:304px;float: left;}
.mainW-304{width: 304px;float: left;}
.itemsW-304{width: 304px; float: left;padding:2px 0;}
.itemLW-304{text-align: right; width: 304px; float: left; }
.itemCW-304{width: 304px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-304{width: 304px; float: left;}

.mainsW-320{width:320px;float: left;}
.mainW-320{width: 320px;float: left;}
.itemsW-320{width: 320px; float: left;padding:2px 0;}
.itemLW-320{text-align: right; width: 320px; float: left; }
.itemCW-320{width: 320px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-320{width: 320px; float: left;}

.mainsW-336{width:336px;float: left;}
.mainW-336{width: 336px;float: left;}
.itemsW-336{width: 336px; float: left;padding:2px 0;}
.itemLW-336{text-align: right; width: 336px; float: left; }
.itemCW-336{width: 336px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-336{width: 336px; float: left;}

.mainsW-352{width:352px;float: left;}
.mainW-352{width: 352px;float: left;}
.itemsW-352{width: 352px; float: left;padding:2px 0;}
.itemLW-352{text-align: right; width: 352px; float: left; }
.itemCW-352{width: 352px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-352{width: 352px; float: left;}

.mainsW-368{width:368px;float: left;}
.mainW-368{width: 368px;float: left;}
.itemsW-368{width: 368px; float: left;padding:2px 0;}
.itemLW-368{text-align: right; width: 368px; float: left; }
.itemCW-368{width: 368px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-368{width: 368px; float: left;}

.mainsW-384{width:384px;float: left;}
.mainW-384{width: 384px;float: left;}
.itemsW-384{width: 384px; float: left;padding:2px 0;}
.itemLW-384{text-align: right; width: 384px; float: left; }
.itemCW-384{width: 384px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-384{width: 384px; float: left;}

.mainsW-400{width:400px;float: left;}
.mainW-400{width: 400px;float: left;}
.itemsW-400{width: 400px; float: left;padding:2px 0;}
.itemLW-400{text-align: right; width: 400px; float: left; }
.itemCW-400{width: 400px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-400{width: 400px; float: left;}

.mainsW-416{width:416px;float: left;}
.mainW-416{width: 416px;float: left;}
.itemsW-416{width: 416px; float: left;padding:2px 0;}
.itemLW-416{text-align: right; width: 416px; float: left; }
.itemCW-416{width: 416px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-416{width: 416px; float: left;}

.mainsW-432{width:432px;float: left;}
.mainW-432{width: 432px;float: left;}
.itemsW-432{width: 432px; float: left;padding:2px 0;}
.itemLW-432{text-align: right; width: 432px; float: left; }
.itemCW-432{width: 432px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-432{width: 432px; float: left;}

.mainsW-448{width:448px;float: left;}
.mainW-448{width: 448px;float: left;}
.itemsW-448{width: 448px; float: left;padding:2px 0;}
.itemLW-448{text-align: right; width: 448px; float: left; }
.itemCW-448{width: 448px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-448{width: 448px; float: left;}

.mainsW-464{width:464px;float: left;}
.mainW-464{width: 464px;float: left;}
.itemsW-464{width: 464px; float: left;padding:2px 0;}
.itemLW-464{text-align: right; width: 464px; float: left; }
.itemCW-464{width: 464px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-464{width: 464px; float: left;}

.mainsW-480{width:480px;float: left;}
.mainW-480{width: 480px;float: left;}
.itemsW-480{width: 480px; float: left;padding:2px 0;}
.itemLW-480{text-align: right; width: 480px; float: left; }
.itemCW-480{width: 480px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-480{width: 480px; float: left;}

.mainsW-496{width:496px;float: left;}
.mainW-496{width: 496px;float: left;}
.itemsW-496{width: 496px; float: left;padding:2px 0;}
.itemLW-496{text-align: right; width: 496px; float: left; }
.itemCW-496{width: 496px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-496{width: 496px; float: left;}

.mainsW-512{width:512px;float: left;}
.mainW-512{width: 512px;float: left;}
.itemsW-512{width: 512px; float: left;padding:2px 0;}
.itemLW-512{text-align: right; width: 512px; float: left; }
.itemCW-512{width: 512px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-512{width: 512px; float: left;}

.mainsW-528{width:528px;float: left;}
.mainW-528{width: 528px;float: left;}
.itemsW-528{width: 528px; float: left;padding:2px 0;}
.itemLW-528{text-align: right; width: 528px; float: left; }
.itemCW-528{width: 528px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-528{width: 528px; float: left;}

.mainsW-544{width:544px;float: left;}
.mainW-544{width: 544px;float: left;}
.itemsW-544{width: 544px; float: left;padding:2px 0;}
.itemLW-544{text-align: right; width: 544px; float: left; }
.itemCW-544{width: 544px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-544{width: 544px; float: left;}

.mainsW-560{width:560px;float: left;}
.mainW-560{width: 560px;float: left;}
.itemsW-560{width: 560px; float: left;padding:2px 0;}
.itemLW-560{text-align: right; width: 560px; float: left; }
.itemCW-560{width: 560px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-560{width: 560px; float: left;}

.mainsW-576{width:576px;float: left;}
.mainW-576{width: 576px;float: left;}
.itemsW-576{width: 576px; float: left;padding:2px 0;}
.itemLW-576{text-align: right; width: 576px; float: left; }
.itemCW-576{width: 576px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-576{width: 576px; float: left;}

.mainsW-592{width:592px;float: left;}
.mainW-592{width: 592px;float: left;}
.itemsW-592{width: 592px; float: left;padding:2px 0;}
.itemLW-592{text-align: right; width: 592px; float: left; }
.itemCW-592{width: 592px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-592{width: 592px; float: left;}

.mainsW-608{width:608px;float: left;}
.mainW-608{width: 608px;float: left;}
.itemsW-608{width: 608px; float: left;padding:2px 0;}
.itemLW-608{text-align: right; width: 608px; float: left; }
.itemCW-608{width: 608px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-608{width: 608px; float: left;}

.mainsW-624{width:624px;float: left;}
.mainW-624{width: 624px;float: left;}
.itemsW-624{width: 624px; float: left;padding:2px 0;}
.itemLW-624{text-align: right; width: 624px; float: left; }
.itemCW-624{width: 624px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-624{width: 624px; float: left;}

.mainsW-640{width:640px;float: left;}
.mainW-640{width: 640px;float: left;}
.itemsW-640{width: 640px; float: left;padding:2px 0;}
.itemLW-640{text-align: right; width: 640px; float: left; }
.itemCW-640{width: 640px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-640{width: 640px; float: left;}

.mainsW-656{width:656px;float: left;}
.mainW-656{width: 656px;float: left;}
.itemsW-656{width: 656px; float: left;padding:2px 0;}
.itemLW-656{text-align: right; width: 656px; float: left; }
.itemCW-656{width: 656px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-656{width: 656px; float: left;}

.mainsW-672{width:672px;float: left;}
.mainW-672{width: 672px;float: left;}
.itemsW-672{width: 672px; float: left;padding:2px 0;}
.itemLW-672{text-align: right; width: 672px; float: left; }
.itemCW-672{width: 672px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-672{width: 672px; float: left;}

.mainsW-688{width:688px;float: left;}
.mainW-688{width: 688px;float: left;}
.itemsW-688{width: 688px; float: left;padding:2px 0;}
.itemLW-688{text-align: right; width: 688px; float: left; }
.itemCW-688{width: 688px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-688{width: 688px; float: left;}

.mainsW-704{width:704px;float: left;}
.mainW-704{width: 704px;float: left;}
.itemsW-704{width: 704px; float: left;padding:2px 0;}
.itemLW-704{text-align: right; width: 704px; float: left; }
.itemCW-704{width: 704px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-704{width: 704px; float: left;}

.mainsW-720{width:720px;float: left;}
.mainW-720{width: 720px;float: left;}
.itemsW-720{width: 720px; float: left;padding:2px 0;}
.itemLW-720{text-align: right; width: 720px; float: left; }
.itemCW-720{width: 720px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-720{width: 720px; float: left;}

.mainsW-736{width:736px;float: left;}
.mainW-736{width: 736px;float: left;}
.itemsW-736{width: 736px; float: left;padding:2px 0;}
.itemLW-736{text-align: right; width: 736px; float: left; }
.itemCW-736{width: 736px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-736{width: 736px; float: left;}

.mainsW-752{width:752px;float: left;}
.mainW-752{width: 752px;float: left;}
.itemsW-752{width: 752px; float: left;padding:2px 0;}
.itemLW-752{text-align: right; width: 752px; float: left; }
.itemCW-752{width: 752px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-752{width: 752px; float: left;}

.mainsW-768{width:768px;float: left;}
.mainW-768{width: 768px;float: left;}
.itemsW-768{width: 768px; float: left;padding:2px 0;}
.itemLW-768{text-align: right; width: 768px; float: left; }
.itemCW-768{width: 768px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-768{width: 768px; float: left;}

.mainsW-784{width:784px;float: left;}
.mainW-784{width: 784px;float: left;}
.itemsW-784{width: 784px; float: left;padding:2px 0;}
.itemLW-784{text-align: right; width: 784px; float: left; }
.itemCW-784{width: 784px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-784{width: 784px; float: left;}

.mainsW-800{width:800px;float: left;}
.mainW-800{width: 800px;float: left;}
.itemsW-800{width: 800px; float: left;padding:2px 0;}
.itemLW-800{text-align: right; width: 800px; float: left; }
.itemCW-800{width: 800px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-800{width: 800px; float: left;}

.mainsW-816{width:816px;float: left;}
.mainW-816{width: 816px;float: left;}
.itemsW-816{width: 816px; float: left;padding:2px 0;}
.itemLW-816{text-align: right; width: 816px; float: left; }
.itemCW-816{width: 816px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-816{width: 816px; float: left;}

.mainsW-832{width:832px;float: left;}
.mainW-832{width: 832px;float: left;}
.itemsW-832{width: 832px; float: left;padding:2px 0;}
.itemLW-832{text-align: right; width: 832px; float: left; }
.itemCW-832{width: 832px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-832{width: 832px; float: left;}

.mainsW-848{width:848px;float: left;}
.mainW-848{width: 848px;float: left;}
.itemsW-848{width: 848px; float: left;padding:2px 0;}
.itemLW-848{text-align: right; width: 848px; float: left; }
.itemCW-848{width: 848px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-848{width: 848px; float: left;}

.mainsW-864{width:864px;float: left;}
.mainW-864{width: 864px;float: left;}
.itemsW-864{width: 864px; float: left;padding:2px 0;}
.itemLW-864{text-align: right; width: 864px; float: left; }
.itemCW-864{width: 864px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-864{width: 864px; float: left;}

.mainsW-880{width:880px;float: left;}
.mainW-880{width: 880px;float: left;}
.itemsW-880{width: 880px; float: left;padding:2px 0;}
.itemLW-880{text-align: right; width: 880px; float: left; }
.itemCW-880{width: 880px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-880{width: 880px; float: left;}

.mainsW-896{width:896px;float: left;}
.mainW-896{width: 896px;float: left;}
.itemsW-896{width: 896px; float: left;padding:2px 0;}
.itemLW-896{text-align: right; width: 896px; float: left; }
.itemCW-896{width: 896px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-896{width: 896px; float: left;}

.mainsW-912{width:912px;float: left;}
.mainW-912{width: 912px;float: left;}
.itemsW-912{width: 912px; float: left;padding:2px 0;}
.itemLW-912{text-align: right; width: 912px; float: left; }
.itemCW-912{width: 912px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-912{width: 912px; float: left;}

.mainsW-928{width:928px;float: left;}
.mainW-928{width: 928px;float: left;}
.itemsW-928{width: 928px; float: left;padding:2px 0;}
.itemLW-928{text-align: right; width: 928px; float: left; }
.itemCW-928{width: 928px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-928{width: 928px; float: left;}

.mainsW-944{width:944px;float: left;}
.mainW-944{width: 944px;float: left;}
.itemsW-944{width: 944px; float: left;padding:2px 0;}
.itemLW-944{text-align: right; width: 944px; float: left; }
.itemCW-944{width: 944px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-944{width: 944px; float: left;}

.mainsW-960{width:960px;float: left;}
.mainW-960{width: 960px;float: left;}
.itemsW-960{width: 960px; float: left;padding:2px 0;}
.itemLW-960{text-align: right; width: 960px; float: left; }
.itemCW-960{width: 960px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-960{width: 960px; float: left;}

.mainsW-976{width:976px;float: left;}
.mainW-976{width: 976px;float: left;}
.itemsW-976{width: 976px; float: left;padding:2px 0;}
.itemLW-976{text-align: right; width: 976px; float: left; }
.itemCW-976{width: 976px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-976{width: 976px; float: left;}

.mainsW-992{width:992px;float: left;}
.mainW-992{width: 992px;float: left;}
.itemsW-992{width: 992px; float: left;padding:2px 0;}
.itemLW-992{text-align: right; width: 992px; float: left; }
.itemCW-992{width: 992px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-992{width: 992px; float: left;}

.mainsW-1008{width:1008px;float: left;}
.mainW-1008{width: 1008px;float: left;}
.itemsW-1008{width: 1008px; float: left;padding:2px 0;}
.itemLW-1008{text-align: right; width: 1008px; float: left; }
.itemCW-1008{width: 1008px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1008{width: 1008px; float: left;}

.mainsW-1024{width:1024px;float: left;}
.mainW-1024{width: 1024px;float: left;}
.itemsW-1024{width: 1024px; float: left;padding:2px 0;}
.itemLW-1024{text-align: right; width: 1024px; float: left; }
.itemCW-1024{width: 1024px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1024{width: 1024px; float: left;}

.mainsW-1040{width:1040px;float: left;}
.mainW-1040{width: 1040px;float: left;}
.itemsW-1040{width: 1040px; float: left;padding:2px 0;}
.itemLW-1040{text-align: right; width: 1040px; float: left; }
.itemCW-1040{width: 1040px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1040{width: 1040px; float: left;}

.mainsW-1056{width:1056px;float: left;}
.mainW-1056{width: 1056px;float: left;}
.itemsW-1056{width: 1056px; float: left;padding:2px 0;}
.itemLW-1056{text-align: right; width: 1056px; float: left; }
.itemCW-1056{width: 1056px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1056{width: 1056px; float: left;}

.mainsW-1072{width:1072px;float: left;}
.mainW-1072{width: 1072px;float: left;}
.itemsW-1072{width: 1072px; float: left;padding:2px 0;}
.itemLW-1072{text-align: right; width: 1072px; float: left; }
.itemCW-1072{width: 1072px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1072{width: 1072px; float: left;}

.mainsW-1088{width:1088px;float: left;}
.mainW-1088{width: 1088px;float: left;}
.itemsW-1088{width: 1088px; float: left;padding:2px 0;}
.itemLW-1088{text-align: right; width: 1088px; float: left; }
.itemCW-1088{width: 1088px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1088{width: 1088px; float: left;}

.mainsW-1104{width:1104px;float: left;}
.mainW-1104{width: 1104px;float: left;}
.itemsW-1104{width: 1104px; float: left;padding:2px 0;}
.itemLW-1104{text-align: right; width: 1104px; float: left; }
.itemCW-1104{width: 1104px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1104{width: 1104px; float: left;}

.mainsW-1120{width:1120px;float: left;}
.mainW-1120{width: 1120px;float: left;}
.itemsW-1120{width: 1120px; float: left;padding:2px 0;}
.itemLW-1120{text-align: right; width: 1120px; float: left; }
.itemCW-1120{width: 1120px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1120{width: 1120px; float: left;}

.mainsW-1136{width:1136px;float: left;}
.mainW-1136{width: 1136px;float: left;}
.itemsW-1136{width: 1136px; float: left;padding:2px 0;}
.itemLW-1136{text-align: right; width: 1136px; float: left; }
.itemCW-1136{width: 1136px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1136{width: 1136px; float: left;}

.mainsW-1152{width:1152px;float: left;}
.mainW-1152{width: 1152px;float: left;}
.itemsW-1152{width: 1152px; float: left;padding:2px 0;}
.itemLW-1152{text-align: right; width: 1152px; float: left; }
.itemCW-1152{width: 1152px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1152{width: 1152px; float: left;}

.mainsW-1168{width:1168px;float: left;}
.mainW-1168{width: 1168px;float: left;}
.itemsW-1168{width: 1168px; float: left;padding:2px 0;}
.itemLW-1168{text-align: right; width: 1168px; float: left; }
.itemCW-1168{width: 1168px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1168{width: 1168px; float: left;}

.mainsW-1184{width:1184px;float: left;}
.mainW-1184{width: 1184px;float: left;}
.itemsW-1184{width: 1184px; float: left;padding:2px 0;}
.itemLW-1184{text-align: right; width: 1184px; float: left; }
.itemCW-1184{width: 1184px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1184{width: 1184px; float: left;}

.mainsW-1200{width:1200px;float: left;}
.mainW-1200{width: 1200px;float: left;}
.itemsW-1200{width: 1200px; float: left;padding:2px 0;}
.itemLW-1200{text-align: right; width: 1200px; float: left; }
.itemCW-1200{width: 1200px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1200{width: 1200px; float: left;}

.mainsW-1216{width:1216px;float: left;}
.mainW-1216{width: 1216px;float: left;}
.itemsW-1216{width: 1216px; float: left;padding:2px 0;}
.itemLW-1216{text-align: right; width: 1216px; float: left; }
.itemCW-1216{width: 1216px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1216{width: 1216px; float: left;}

.mainsW-1232{width:1232px;float: left;}
.mainW-1232{width: 1232px;float: left;}
.itemsW-1232{width: 1232px; float: left;padding:2px 0;}
.itemLW-1232{text-align: right; width: 1232px; float: left; }
.itemCW-1232{width: 1232px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1232{width: 1232px; float: left;}

.mainsW-1248{width:1248px;float: left;}
.mainW-1248{width: 1248px;float: left;}
.itemsW-1248{width: 1248px; float: left;padding:2px 0;}
.itemLW-1248{text-align: right; width: 1248px; float: left; }
.itemCW-1248{width: 1248px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1248{width: 1248px; float: left;}

.mainsW-1264{width:1264px;float: left;}
.mainW-1264{width: 1264px;float: left;}
.itemsW-1264{width: 1264px; float: left;padding:2px 0;}
.itemLW-1264{text-align: right; width: 1264px; float: left; }
.itemCW-1264{width: 1264px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1264{width: 1264px; float: left;}

.mainsW-1280{width:1280px;float: left;}
.mainW-1280{width: 1280px;float: left;}
.itemsW-1280{width: 1280px; float: left;padding:2px 0;}
.itemLW-1280{text-align: right; width: 1280px; float: left; }
.itemCW-1280{width: 1280px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1280{width: 1280px; float: left;}

.mainsW-1296{width:1296px;float: left;}
.mainW-1296{width: 1296px;float: left;}
.itemsW-1296{width: 1296px; float: left;padding:2px 0;}
.itemLW-1296{text-align: right; width: 1296px; float: left; }
.itemCW-1296{width: 1296px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1296{width: 1296px; float: left;}

.mainsW-1312{width:1312px;float: left;}
.mainW-1312{width: 1312px;float: left;}
.itemsW-1312{width: 1312px; float: left;padding:2px 0;}
.itemLW-1312{text-align: right; width: 1312px; float: left; }
.itemCW-1312{width: 1312px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1312{width: 1312px; float: left;}

.mainsW-1328{width:1328px;float: left;}
.mainW-1328{width: 1328px;float: left;}
.itemsW-1328{width: 1328px; float: left;padding:2px 0;}
.itemLW-1328{text-align: right; width: 1328px; float: left; }
.itemCW-1328{width: 1328px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1328{width: 1328px; float: left;}

.mainsW-1344{width:1344px;float: left;}
.mainW-1344{width: 1344px;float: left;}
.itemsW-1344{width: 1344px; float: left;padding:2px 0;}
.itemLW-1344{text-align: right; width: 1344px; float: left; }
.itemCW-1344{width: 1344px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1344{width: 1344px; float: left;}

.mainsW-1360{width:1360px;float: left;}
.mainW-1360{width: 1360px;float: left;}
.itemsW-1360{width: 1360px; float: left;padding:2px 0;}
.itemLW-1360{text-align: right; width: 1360px; float: left; }
.itemCW-1360{width: 1360px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1360{width: 1360px; float: left;}

.mainsW-1376{width:1376px;float: left;}
.mainW-1376{width: 1376px;float: left;}
.itemsW-1376{width: 1376px; float: left;padding:2px 0;}
.itemLW-1376{text-align: right; width: 1376px; float: left; }
.itemCW-1376{width: 1376px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1376{width: 1376px; float: left;}

.mainsW-1392{width:1392px;float: left;}
.mainW-1392{width: 1392px;float: left;}
.itemsW-1392{width: 1392px; float: left;padding:2px 0;}
.itemLW-1392{text-align: right; width: 1392px; float: left; }
.itemCW-1392{width: 1392px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1392{width: 1392px; float: left;}

.mainsW-1408{width:1408px;float: left;}
.mainW-1408{width: 1408px;float: left;}
.itemsW-1408{width: 1408px; float: left;padding:2px 0;}
.itemLW-1408{text-align: right; width: 1408px; float: left; }
.itemCW-1408{width: 1408px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1408{width: 1408px; float: left;}

.mainsW-1424{width:1424px;float: left;}
.mainW-1424{width: 1424px;float: left;}
.itemsW-1424{width: 1424px; float: left;padding:2px 0;}
.itemLW-1424{text-align: right; width: 1424px; float: left; }
.itemCW-1424{width: 1424px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1424{width: 1424px; float: left;}

.mainsW-1440{width:1440px;float: left;}
.mainW-1440{width: 1440px;float: left;}
.itemsW-1440{width: 1440px; float: left;padding:2px 0;}
.itemLW-1440{text-align: right; width: 1440px; float: left; }
.itemCW-1440{width: 1440px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1440{width: 1440px; float: left;}

.mainsW-1456{width:1456px;float: left;}
.mainW-1456{width: 1456px;float: left;}
.itemsW-1456{width: 1456px; float: left;padding:2px 0;}
.itemLW-1456{text-align: right; width: 1456px; float: left; }
.itemCW-1456{width: 1456px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1456{width: 1456px; float: left;}

.mainsW-1472{width:1472px;float: left;}
.mainW-1472{width: 1472px;float: left;}
.itemsW-1472{width: 1472px; float: left;padding:2px 0;}
.itemLW-1472{text-align: right; width: 1472px; float: left; }
.itemCW-1472{width: 1472px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1472{width: 1472px; float: left;}

.mainsW-1488{width:1488px;float: left;}
.mainW-1488{width: 1488px;float: left;}
.itemsW-1488{width: 1488px; float: left;padding:2px 0;}
.itemLW-1488{text-align: right; width: 1488px; float: left; }
.itemCW-1488{width: 1488px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1488{width: 1488px; float: left;}

.mainsW-1504{width:1504px;float: left;}
.mainW-1504{width: 1504px;float: left;}
.itemsW-1504{width: 1504px; float: left;padding:2px 0;}
.itemLW-1504{text-align: right; width: 1504px; float: left; }
.itemCW-1504{width: 1504px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1504{width: 1504px; float: left;}

.mainsW-1520{width:1520px;float: left;}
.mainW-1520{width: 1520px;float: left;}
.itemsW-1520{width: 1520px; float: left;padding:2px 0;}
.itemLW-1520{text-align: right; width: 1520px; float: left; }
.itemCW-1520{width: 1520px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1520{width: 1520px; float: left;}

.mainsW-1536{width:1536px;float: left;}
.mainW-1536{width: 1536px;float: left;}
.itemsW-1536{width: 1536px; float: left;padding:2px 0;}
.itemLW-1536{text-align: right; width: 1536px; float: left; }
.itemCW-1536{width: 1536px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1536{width: 1536px; float: left;}

.mainsW-1552{width:1552px;float: left;}
.mainW-1552{width: 1552px;float: left;}
.itemsW-1552{width: 1552px; float: left;padding:2px 0;}
.itemLW-1552{text-align: right; width: 1552px; float: left; }
.itemCW-1552{width: 1552px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1552{width: 1552px; float: left;}

.mainsW-1568{width:1568px;float: left;}
.mainW-1568{width: 1568px;float: left;}
.itemsW-1568{width: 1568px; float: left;padding:2px 0;}
.itemLW-1568{text-align: right; width: 1568px; float: left; }
.itemCW-1568{width: 1568px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1568{width: 1568px; float: left;}

.mainsW-1584{width:1584px;float: left;}
.mainW-1584{width: 1584px;float: left;}
.itemsW-1584{width: 1584px; float: left;padding:2px 0;}
.itemLW-1584{text-align: right; width: 1584px; float: left; }
.itemCW-1584{width: 1584px; float: left; margin-left: auto; margin-right: auto; text-align: center;  }
.itemRW-1584{width: 1584px; float: left;}

.textRequire{color: red;width:auto; float: right; text-align:center;vertical-align:middle; }

.flPadTB-10{float:left; padding:10px 0;}
.padT-4{ padding:4px 0 0 0;}
.pad-5{ padding:5px}
.padTB-5{ padding:5px 0}
.padTB-10{ padding:10px 0}
.padTB-20{ padding:20px 0}
.itemLW-1568{text-align: right; width: 1568px; float: left; }
.list-ul ul,.list-ul li{margin:0; padding:0;list-style-type:none;font-size:12px;}
.list-ul li{}
.list-ul ul.text-ul li{line-height:18px !important;line-height:20px;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.c-18{text-align:center;font-size:18px;font-weight:bold;}

.textLW{width: 100%;float: left;text-align: left;}
.textRW{width: 100%;float: left;text-align: right;}
/* 鍋嘝anel */
.fPanel{ border:1px solid #95b8e7}
.fPanel-header{background:linear-gradient(to bottom, #EFF5FF 0px, #E0ECFF 100%) repeat-x;padding: 5px;}
.fPanel-title{color:#0E2D5F;font-size: 12px;font-weight: bold;height: 16px;line-height: 16px;}

.mainsW-872{width:872px;float: left;}
.mainW-872{width:872px;float: left;}

textarea{ font-size:12px;}
/*trs login*/
.login_zi {
	font-family: "宋体";
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #4b5d72;
	text-decoration: none;
}
.login_xian {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #4b5d72;
}

