/************************* Skin-4   夏立志 *********************************/
body.smart-style-4, .smart-style-4 body {
	background:#ffffff !important;
	font-family: Arial, sans-serif
}

.smart-style-4 #logo img {
	width: 125px;
	height: auto;
	padding-left: 3px;
	margin-top: -3px;
}

.smart-style-4 #header {
	background-color: rgba(68,136,133, 1);
	background-image: -moz-linear-gradient(top, rgba(68,136,133, 1), rgba(30,119,105,1));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(68,136,133, 1)), to(rgba(30,119,105, 1)));
	background-image: -webkit-linear-gradient(top, rgba(68,136,133, 1), rgba(30,119,105, 1));
	background-image: -o-linear-gradient(top, rgba(68,136,133, 1), rgba(30,119,105, 1));
	background-image: linear-gradient(to bottom, rgba(20,82,72, 1) 20%, rgba(68,136,133, 1) 100%);
}

.smart-style-4 #ribbon {
	background: linear-gradient(to bottom, rgba(68,136,133, 1) 5%, #fff 30%);
} 

.smart-style-4 #ribbon .breadcrumb, .smart-style-4 #ribbon .breadcrumb a {
	color: #7C7C7C!important;
}

.smart-style-4 #ribbon .breadcrumb li:last-child, .smart-style-4 #ribbon .breadcrumb>.active {
color: #5F5F5F;
}

.smart-style-4.fixed-ribbon #ribbon {
	box-shadow: 0 .0625em .3125em rgba(0, 0, 0, .35);
}

.smart-style-4 .btn-header>:first-child>a,
.smart-style-4 #logo-group span#activity {
	background-color: rgba(108, 147, 138, 1);
	background-image: -moz-linear-gradient(to bottom,rgba(108, 147, 138, 1) 50%, rgba(108, 147, 138, 1) 100%);
	background-image: -webkit-gradient(to bottom,rgba(108, 147, 138, 1) 50%, rgba(108, 147, 138, 1) 100%);
	background-image: -webkit-linear-gradient(to bottom,rgba(108, 147, 138, 1) 50%, rgba(108, 147, 138, 1) 100%);
	background-image: -o-linear-gradient(to bottom,rgba(108, 147, 138, 1) 50%, rgba(108, 147, 138, 1) 100%);
	background-image: linear-gradient(to bottom,rgba(108, 147, 138, 1) 50%, rgba(108, 147, 138, 1) 100%);
	color: #fff !important;
	border: 1px solid #f09d61;
	text-shadow: #985813 0 -1px;
} .smart-style-4 #hide-menu i {
	color: #fff !important;
}

.smart-style-4 .btn-header>:first-child>a:hover,
.smart-style-4 #logo-group span#activity:hover,
.smart-style-4 .btn-header>:first-child>a:active,
.smart-style-4 #logo-group span#activity:active {
	-webkit-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
	-moz-box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
	box-shadow: inset 1px 1px 0px #985813,inset -1px -1px 0px #985813;
	background-color: #93ca10;
	background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
	background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
	background-image: -o-linear-gradient(top, #dd7a35, #984a13);
	background-image: linear-gradient(to bottom, #93ca10, #7eaa15);
	cursor: pointer;
}

.smart-style-4 #project-selector, 
.smart-style-4 #project-context>:first-child,
.smart-style-4 .header-dropdown-list>li>.dropdown-toggle {
	color:#fff;
	text-shadow: #985813 0 -1px;
}

.smart-style-4 .header-dropdown-list>li>.dropdown-toggle {
	display: block;
	background: rgba(0,0,0,0.2);
	padding: 2px 7px 3px;
	border-radius: 3px;
	margin-top: 14px;
}

.smart-style-4 .header-search>input[type=text] {
	border-color: #CA854F;
}

.smart-style-4 .header-search>button {
	color: #DF9B45;
}

.smart-style-4 aside {
	background: linear-gradient(to right, rgba(20,82,72, 1) 5%, rgba(68,136,133, 1)100%);
	/*border-right:2px solid #ccc;*/
}

.smart-style-4 .login-info span {
	border-bottom:none;
}

.smart-style-4 .login-info a span {
	color: #a9b899 !important;
}

.smart-style-4 .login-info {
	border-bottom: none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

.smart-style-4 nav ul li a, .smart-style-4 nav ul li.open>a, .smart-style-4 nav ul li.open>a b {
	color: #a9b899 !important;
}

.smart-style-4 nav {
	background-color: rgba(68,136,133, 1);
	background-image: -moz-linear-gradient(top, rgba(68,136,133, 1), rgba(20,82,72, 1));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(68,136,133, 1)), to(rgba(20,82,72, 1)));
	background-image: -webkit-linear-gradient(top, rgba(68,136,133, 1), rgba(20,82,72, 1));
	background-image: -o-linear-gradient(top, rgba(68,136,133, 1), rgba(20,82,72, 1));
	background-image: linear-gradient(to right, rgba(20,82,72, 1) 5%, rgba(68,136,133, 1)100%)
}

.smart-style-4 nav > ul > li.active>a:before {
	top: 10px !important;
}

.smart-style-4 nav>ul>li>a b {
	top: 12px;
}

.smart-style-4 nav ul li.active>a:before {
	top: 6px;
}

.smart-style-4 nav>ul>li.open {
	/*border-left: 4px solid #058dc7;*/
}

.smart-style-4 nav>ul>li > a{
	padding: 12px 10px 12px 11px;
	font-size: 13px;
}

.smart-style-4 nav>ul>li>a>i {
	color: #A8A8A8;
	font-size: 20px;
}

.smart-style-4 nav ul ul {
	background-color: #44a085;
	background-image: -moz-linear-gradient(top, rgba(68,136,133, 1), #44a085);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(68,136,133, 1)), to(#44a085));
	background-image: -webkit-linear-gradient(top, rgba(68,136,133, 1), #44a085);
	background-image: -o-linear-gradient(top, rgba(68,136,133, 1), #44a085);
	background-image: linear-gradient(to right, rgba(20,82,72, 1) 5%, #44a085 100%) 
}

.smart-style-4 nav ul ul li>a {
	font-size: 13px;
}

.smart-style-4 nav ul li a:hover {
	background: rgba(0,0,0,.05) !important;
	cursor: pointer;
}

.smart-style-4 nav>ul>li.open > a {
	padding-left:7px;
}

.smart-style-4 nav>ul>li.open ul li>a {
	padding-left: 38px;
}

.smart-style-4 nav>ul ul li::before,
.smart-style-4 nav>ul>li>ul::before {
	border:none;
}
.smart-style-4 nav>ul ul span{
	margin-left: 10px;
}

.smart-style-4  nav ul li.active>a {
	font-weight:bold;
}

.smart-style-4  nav ul li.active>a:before {
	color:#fff;
}
.smart-style-4  nav ul ul ul {
	padding-left: 30px;
}

.smart-style-4 .inbox-footer, 
.smart-style-4 .superbox-show {
	background:#3D3B39;
}

.smart-style-4 .superbox-list.active:before {
	color:#3D3B39;
}

.smart-style-4 nav>ul>li.open > ul > li > a {
	padding-left: 38px;
}

/*
 * MINIFIED
 */

.smart-style-4.minified nav>ul>li {
	border-bottom: 1px solid #E9E4E4;
	border-top: 1px solid #FFFFFF;
}

.smart-style-4.minified nav>ul>li>ul,
.smart-style-4.minified nav>ul>li>ul>li>ul>li {
	background-color: #3396bb;
}
.smart-style-4.minified nav>ul>li>ul>li{
	background-color: #052835 !important;
}

.smart-style-4.minified nav ul li a, 
.smart-style-4.minified nav ul li.open>a, 
.smart-style-4.minified nav ul li.open>a b {
	color:#fff !important;
}

.smart-style-4.minified nav>ul>li.open ul li>a {
	padding-left:14px;
}

.smart-style-4 .active+.ajax-dropdown {
	-webkit-box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
	box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
}

@media (max-width: 979px) {
	.smart-style-4 #content {
		padding-left: 5px;
		padding-right: 5px;
	}
	.smart-style-4 #ribbon {
		margin-left:0px;
		margin-right:0px;
		margin-top:0px;
		border-radius:0px;
	}
}
.smart-style-4 .dropdown-menu>.active>a, 
.smart-style-4 .dropdown-menu>.active>a:hover,
.smart-style-4 .dropdown-menu>li>a:hover, 
.smart-style-4 .dropdown-menu>li>a:focus,
.smart-style-4 .tt-suggestion.tt-is-under-cursor {
	background-color: #EC9519;
	color: #fff;
	cursor: pointer;
}

.smart-style-4 .dropdown-menu>li>a {
	color: #4E361B;
}

.smart-style-4 .dropdown-menu {
	border-radius: 0;
	border-bottom: 2px solid #ADADAD;
	background: #FDDFB3;
}

.smart-style-4 .dropdown-menu .divider {
	background-color: #EBC7A6;
}

.smart-style-4 .dropdown-menu-large .dropdown-header {
	color: #5C391E;
}

.smart-style-4 .dropdown-menu-large>li ul>li>a:focus, 
.smart-style-4 .dropdown-menu-large>li ul>li>a:hover {
	border-radius:3px;
	background-color: #F1B686;
	cursor: pointer;
}

/*
 * FORMS
 */

.smart-style-4 input:not([type]), 
.smart-style-4 input[type="color"], 
.smart-style-4 input[type="email"], 
.smart-style-4 input[type="number"], 
.smart-style-4 input[type="password"], 
.smart-style-4 input[type="tel"], 
.smart-style-4 input[type="url"], 
.smart-style-4 input[type="text"],
.smart-style-4 textarea {
	border-top-color: #a3a3a3;
	border-left-color: #a3a3a3;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	-webkit-box-shadow: inset 0 1px 0 #d6d6d6;
	-moz-box-shadow: inset 0 1px 0 #d6d6d6;
	box-shadow: inset 0 1px 0 #d6d6d6;
	color: #000;
}

.smart-style-4 .has-warning .form-control {
	border-color: #c09853 !important;
}


.smart-style-4 .has-error .form-control {
	border-color: #b94a48 !important;
}

.smart-style-4 .has-success .form-control {
	border-color: #468847 !important;
}


.smart-style-4 .select2-container-multi .select2-choices .select2-search-field input, .smart-style-4 .tt-hint {
	box-shadow: none !important;
	border:none !important;
}

/*
 * Shortcut
 */

.smart-style-4 #shortcut {
	background-color: rgba(25, 16, 6, 0.85);
}

/*
 * alerts
 */

.smart-style-4 .bigBox span, .smart-style-4 .SmallBox span {
	letter-spacing:0px;
}
/*.smart-style-4 .minifyme{
	background-color: #899f33;
}*/
.smart-style-4 .minifyme:hover{
	background-color: #885f44;
}


/************************* Skin-5   李发全  *********************************/

.smart-style-5 #shortcut {
    background-color: rgba(255, 255, 255, 0.9);
}

.smart-style-5 #shortcut ul {
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #A8BADB;
}

body.smart-style-5{
    background:#fff;
}

.smart-style-5 #header, .smart-style-5.inbox-footer, .smart-style-5.superbox-show {
    background-image:none;
    background-color: #3276b1;
}
.smart-style-5.superbox-list.active:before {
    color: #427189;
}

.smart-style-5.superbox-img-description  {
    color:#9EA8B1 !imporant;
}

.smart-style-5 #project-context>:first-child {
    text-shadow:none;
}
.smart-style-5 #project-selector {
    color: #B2C1D5;
}
.smart-style-5 #project-selector:hover {
    color: #fff;
}

.smart-style-5 #logo-group span#activity {
    background:none !important;
    border:none !important;
    color:#C5C6CA;
}
.smart-style-5 #logo-group span#activity:hover {
    color:#fff;
}

.smart-style-5.header-search>input[type="text"] {
    background: #161B22;
    border: 1px solid #0F1217;
    color:#fff;
    border-radius:4px;
}

.smart-style-5.btn-header>:first-child>a {
    background:none;
    border:none !important;
    color: #C5C6CA;
    box-shadow:none !important;
}
.smart-style-5.btn-header>:first-child>a:hover {
    color:#fff;
    cursor:pointer !important;
}

.smart-style-5.header-search>button, 
.smart-style-5.header-dropdown-list a.dropdown-toggle {
    color: #C5C6CA;
}
 
.smart-style-5 #ribbon {
    background:#fff;
}

.smart-style-5.btn.btn-ribbon {
    background: #9498A0;
}

.smart-style-5 #ribbon .breadcrumb li:last-child, 
.smart-style-5 #ribbon .breadcrumb>.active, 
.smart-style-5 #ribbon .breadcrumb, 
.smart-style-5 #ribbon .breadcrumb a {
    color: #7C7C7C !important;
}

.smart-style-5 aside {
    background: #427189 ;
    background: -webkit-gradient(linear,left top,right top,color-stop(99%,#5a4141),color-stop(100%,#5a4167));
    background: -webkit-linear-gradient(left,#5a4141 99%,#5a4167 100%);
    background: -ms-linear-gradient(left,#5a4141 99%,#5a4167 100%);
    background: -moz-linear-gradient(left,#5a4141 99%,#5a4167 100%);
    background: -webkit-gradient(linear,top left,top right,from(#5a4141),to(#5a4167));
    background: linear-gradient(to right,#5a4141 99%,#5a4167 100%);
    min-height: 100%;
}

.smart-style-5 #left-panel {
    padding:15px;
}

.smart-style-5 #logo-group>span .badge {
    background: #008DC4;
}

.smart-style-5.login-info span, 
.smart-style-5.login-info {
    border: 0 !important; 
    box-shadow:none !important;
}

.smart-style-5.login-info span {
    padding: 5px 10px 7px;
    background: #FFF;
    border-radius: 4px;
}

.smart-style-5.login-info a span {
    padding:0;
    font-size: 16px !important;
    max-width: 105px;
}

.smart-style-5.login-info { 
    margin-bottom:7px !important;   
    height:auto;
}

.smart-style-5.login-info a {
    font-size: 16px !important;
    color: #33455A;
    margin-top: 2px;
}

.smart-style-5.login-info img {
    width:35px;
}

.smart-style-5 nav ul li a {
    color: #3276b1 !important;
    font-size:12px !important;
}

.smart-style-5 nav > ul > li > a {
    padding-top:16px;
    padding-bottom:16px;
}

.smart-style-5 nav ul ul>li:hover b {
    color: #fff !important;
}

.smart-style-5 nav>ul>li>a>i {
    font-size:25px !important;
}

.smart-style-5 nav > ul > li > a b {
    top:16px;
}

.smart-style-5 nav ul ul {
    background: none;
}

.smart-style-5 nav ul li.open>a, 
.smart-style-5 nav ul li.open>a b, 
.smart-style-5 nav ul .active>a {
    color: #3276b1 !important;
    font-weight: bold;
}

.smart-style-5 nav ul ul li>a:hover, 
.smart-style-5 nav ul li a:hover {
    color: #3276b1 !important;
    background:none !important;
}

.smart-style-5 nav ul ul li>a {
    padding-left:23px;
}

.smart-style-5 nav > ul > li > ul::before, 
.smart-style-5 nav > ul ul li::before {
    border: none !important;
}

.smart-style-5 nav ul ul ul li a {
    padding-left:30px;
}

.smart-style-5 nav ul ul ul ul li a {
    padding-left:40px;
}

.smart-style-5 nav ul ul ul ul ul li a {
    padding-left:50px;
}

.smart-style-5 nav ul ul ul ul ul ul li a {
    padding-left:60px;
}

.smart-style-5.jarviswidget-color-blueDark>header {
    
    background: #427189 !important;
    border-color: #427189 !important;
}

.smart-style-5.btn-primary, .smart-style-5.smart-form .button{
    background-color: #3b9ff3;
    border-color: #3292E2;
}

.smart-style-5.btn-primary:hover, 
.smart-style-5.btn-primary:focus, 
.smart-style-5.btn-primary:active, 
.smart-style-5.btn-primary.active, 
.smart-style-5.open .dropdown-toggle.btn-primary {
    background-color: #3E90D4;
    border-color: #2F7DBE;
}

.smart-style-5.dropdown-menu>li>a:hover, 
.smart-style-5.dropdown-menu>li>a:focus {
    background-color: #3E90D4;
}



.smart-style-5.btn-success {
    background-color: #96bf48;
    border-color: #84A83E;
}

.smart-style-5.btn-success:hover, 
.smart-style-5.btn-success:focus, 
.smart-style-5.btn-success:active, 
.smart-style-5.btn-success.active, 
.smart-style-5.open .dropdown-toggle.btn-success {
    background-color: #89AD45;
    border-color: #78973B;
}

.smart-style-5 .btn-danger {
    background-color: #DB4A67;
    border-color: #CA4862;
}

.smart-style-5.btn-danger:hover, 
.smart-style-5.btn-danger:focus, 
.smart-style-5.btn-danger:active, 
.smart-style-5.btn-danger.active, 
.smart-style-5.open .dropdown-toggle.btn-danger {
    background-color: #CF4762;
    border-color: #C0455E;
}


.smart-style-5.btn-warning {
    background-color: #E2B14A;
    border-color: #C99D42;
}

.smart-style-5.btn-warning:hover, 
.smart-style-5.btn-warning:focus, 
.smart-style-5.btn-warning:active, 
.smart-style-5.btn-warning.active, 
.smart-style-5.open .dropdown-toggle.btn-warning {
    background-color: #D6A848;
    border-color: #C09844;
}

.smart-style-5.pagination>.active>a, 
.smart-style-5.pagination>.active>span, 
.smart-style-5.pagination>.active>a:hover, 
.smart-style-5.pagination>.active>span:hover, 
.smart-style-5.pagination>.active>a:focus, 
.smart-style-5.pagination>.active>span:focus {
    background-color: #3b9ff3;
}

/*
 * MINIFIED
 */
.smart-style-5 .minified .login-info a {
    margin-top: 4px;
}

.smart-style-5.minified #left-panel {
    padding:0 !important;
}

.smart-style-5.minified nav ul>li>a {
padding: 12px 11px;
}

.smart-style-5.minified nav>ul>li>ul, .smart-style-5.minified nav>ul>li>ul>li, .smart-style-5.minified nav>ul>li>ul>li>ul>li {
    background:#fff !important;
}

.smart-style-5.minified nav>ul>li {
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #FFFFFF;
}


.smart-style-5.minified nav>ul>li>a>i {
    font-size:18px !important;
}

.smart-style-5.minified .login-info span {
    padding:0;
}

.smart-style-5.minified .login-info {
    margin:0 !important;
}


.smart-style-5.minified nav ul li.active>a:before {
    height: 23px;
    right: -19px;
    top: 7px;
    font-size: 20px;
    color: #FFFFFF;
}

/*
 * COLOR PALLET
 */
.smart-style-5.bg-color-red {
    background: #DB4A67 !important;
}

.smart-style-5.bg-color-blue {
    background: #4387bf !important;
}

.smart-style-5.smart-form .checkbox input:checked+i, 
.smart-style-5.smart-form .radio input:checked+i, 
.smart-style-5.smart-form .toggle input:checked+i {
    border-color: #3b9ff3;
}

.smart-style-5.smart-form .toggle i:before {
background-color: #3b9ff3;
}

.smart-form .rating input+label:hover, 
.smart-form .rating input+label:hover~label {
    color: #3b9ff3;
}

.smart-style-5.bg-color-greenLight {
    background-color: #89AD45 !important;
}

.smart-style-5.bg-color-orange {
    background-color: #D6A848 !important;
}

.smart-style-5.bg-color-teal {
    background-color: #5ba0a3 !important;
}

.smart-style-5.minifyme {
    background: #D7DAE2;
    border-bottom: 1px solid #818181;
    color: #7E7E7E;
}

.smart-style-5 .minifyme:hover {
    color: #4E4E4E;
}

.smart-style-5.onoffswitch-inner:before {
    background: #3b9ff3;
    border-color: #3b9ff3 #257DC7 #2A7DC4;
}

.smart-style-5.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before {
    color: #84A83E;
}



/******************************************************************/
/************************* Skin-6   邱峰 *********************************/
.smart-style-6 a {
    transition: color 0.5s linear 0s,background-color 0.5s linear 0s !important;
}

.smart-style-6 body.container {
    border-left: 5px solid rgba(34, 38, 46, 0.4);
    border-right: 5px solid rgba(34, 38, 46, 0.4);
}

.smart-style-6 #header {
    background-image:none;
    background-color:#00af82;
}

.smart-style-6 #project-context > :first-child {
    color: #697B92;
    text-shadow: 0 0 5px #555358;
}

.smart-style-6 #ribbon {
    background: #e6e6e6;
}


.smart-style-6 #ribbon .breadcrumb > .active, .smart-style-6 #ribbon .breadcrumb li:last-child {
color: #868686;
}

.smart-style-6 #ribbon .breadcrumb a, .smart-style-6 #ribbon .breadcrumb {
color: #747474 !important;
}

.smart-style-6 .breadcrumb>li+li:before {
    color: #646464;
}

.smart-style-6 #project-selector {
    color: #B9B9B9;
}

.smart-style-6 .open > .dropdown-menu, .smart-style-6 .dropdown-menu {
    padding:4px;
}
.smart-style-6 .dropdown-menu>li>a, .smart-style-6 .dropdown-menu > li > a {
    border-radius:4px;
    margin:3px 0;
}


.smart-style-6 .btn.btn-ribbon {
background-color: #697486;
background-image: -moz-linear-gradient(top, #6F7D94, #697486);
background-image: -webkit-gradient(linear, 0 0, 0 500%, from(#6F7D94), to(#697486));
background-image: -webkit-linear-gradient(top, #6F7D94, #697486);
background-image: -o-linear-gradient(top, #6F7D94, #697486);
background-image: linear-gradient(to bottom, #6F7D94, #697486);
}

.smart-style-6 #logo-group span#activity {
background: #0d0f52;
border: 5px solid #0d0f52;
color:#fff;
cursor: pointer;
}.smart-style-6 .btn-header > :first-child > a {
background: #fb3c4a;
border: 5px solid #fb3c4a;
color:#fff !important;
cursor: pointer !important; 
}.smart-style-6 .btn-header > :first-child > a:hover {
    opacity:.9;
}

.smart-style-6 #cancel-search-js {
    background: #fb3c4a;
    line-height:29px !important;
}

.smart-style-6 .MsgTitle .txt-color-orangeDark {
    color:#fb3c4a !important;
}

@media (max-width: 979px) and (min-width: 768px) {
    .smart-style-6  #hide-menu i {
        color: #fff !important;
    }
}

@media only screen and (max-width: 679px) and (min-width: 0px) {
    .smart-style-6 #hide-menu i {
        color: #fff !important;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
    .smart-style-6 #sparks {
        background: #fff;
    }

    .smart-style-6 #cancel-search-js, .smart-style-6 .search-mobile .header-search > button {
        border-radius:3px;
    }
}   


.smart-style-6 .minifyme {
    background: #434953;
} .smart-style-6 .minifyme:hover {
    background: #5C6C86;
    color: #E5E8F3
}

.smart-style-6 #show-shortcut:hover > i {
    color:#fff;
}

.smart-style-6 aside, 
.smart-style-6 .superbox-show,
.smart-style-6 .inbox-footer  {
background: #00af82;
}
.smart-style-6 .superbox-list.active:before {
    color: #5b5e24;
}



.smart-style-6 #logo-group {
background:#00af82 !important;
}

.smart-style-6 .login-info span, .smart-style-6 .login-info {
    border-bottom:none;
}

.smart-style-6 nav ul b .fa-expand-o:before {
    content: "\f504";
}

.smart-style-6 nav ul b .fa-collapse-o:before {
    content: "\f507";
}

.smart-style-6 .header-search > input[type="text"] {
    border-color:#FFF !important;
    border-radius:2px;
}

.smart-style-6 nav ul ul li > a {
    text-shadow: 0 5px 5px #000;
    font-size: 53px;
    padding-left: 43px;
    color:#cdfcf0;
    display: block;
    font-weight: 300;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.smart-style-6 nav ul ul ul li a {
    padding: 8px 57px 8px 54px !important;
}
.smart-style-6 nav ul ul ul ul li a {
    padding-left: 72px !important;
}
.smart-style-6 nav ul ul ul ul ul li a {
    padding-left: 90px !important;
}
.smart-style-6 nav ul ul ul ul ul ul li a {
    padding-left: 508px !important;
}

.smart-style-6 nav > ul > li > ul::before, .smart-style-6 nav > ul ul li::before {
    border:none !important;
}

.smart-style-6 nav > ul > li > a > i {
    font-size: 57px;
    vertical-align: 0px;
}

.smart-style-6 nav > ul > li >a b {
    right: 57px;
    top: 52px;
}

.smart-style-6 nav > ul > li > a > i:after {
    border:5px solid #fff; /* here */
}

.smart-style-6 nav ul ul {
    background: #007a5b;
}

.smart-style-6 nav ul ul li > a:hover {
    background: #00af82!important;
}


.smart-style-6 nav ul li a, 
.smart-style-6 .login-info strong, 
.smart-style-6 .login-info a {
    color: #8b95a0;
}.smart-style-6 nav ul li a:active {
    background:none;
}.smart-style-6 nav ul li a:hover {
    color:#E5EAF5;
}

.smart-style-6 .header-dropdown-list a.dropdown-toggle {
    color:#FFF;
    text-decoration:none;
}

.smart-style-6 nav ul li a {
    padding: 52px 57px 52px 56px;
}

.smart-style-6 .login-info {
    height:auto;
}
.smart-style-6 .login-info > span{
    padding: 5px 50px;
}

.smart-style-6 .login-info img {
    width: 35px;
    border-radius:50%;
}

.smart-style-6 .login-info a {
    margin-top:2px;
}
.smart-style-6 .login-info a span {
    max-width: 536px;
}

.smart-style-6 .login-info a:hover {
    color:#fff;
}

.smart-style-6 #logo-group > span .badge {
    background: #0aa699;
}

.smart-style-6 #activity.active .badge {
    background: #0aa699 !important;
}

.smart-style-6 .ajax-dropdown {
    background: #E2E8F5;
}

.smart-style-6 .ajax-notifications {
    background:#fff;
}

/* no nav animation */
    .smart-style-6  nav > ul > li > a:hover i {
        -webkit-animation-name: none;
        -moz-animation-name: none;
        -o-animation-name: none;
        animation-name: none;
    }


/*
 * COLORS
 */

.smart-style-6 img.online {
    border-left-color: #0AA699 !important; 
}

.smart-style-6 .onoffswitch-inner:before {
      background-color: #36AECC !important;
    }

    .smart-style-6 .bg-color-red {
      background-color: #fb3c4a !important;
    }
    
    
    
.smart-style-6 .pagination>.active>a, 
.smart-style-6 .pagination>.active>span, 
.smart-style-6 .pagination>.active>a:hover, 
.smart-style-6 .pagination>.active>span:hover, 
.smart-style-6 .pagination>.active>a:focus, 
.smart-style-6 .pagination>.active>span:focus {
    background-color: #36AECC;
    border-color: #36AECC;
}   


/*
 * MINIFIED
 */

.smart-style-6.minified .login-info a {
    margin-top:6px;
}

.smart-style-6.minified nav ul li a {
    padding: 52px 57px 52px 54px;
}

.smart-style-6.minified nav > ul > li > a > i {
    font-size: 58px;
}

.smart-style-6.minified nav > ul > li {
border-bottom: 5px solid #535456;
border-top: 5px solid #303035;
}

.smart-style-6.minified nav > ul > li > ul {
    background:#5B5E24;
}
.smart-style-6.minified nav > ul > li > ul > li {
    background:#22262E;
}

.smart-style-6.minified .login-info img {
    width: 30px !important;
}
.smart-style-6.minified .login-info span {
    padding: 0px 5px !important;
}

.smart-style-6.minified nav ul ul li > a:hover {
    background: #30343D !important;
}

.smart-style-6.minified nav ul > li > ul > li > ul {
    background:#5B5E24;
}

.smart-style-6.minified nav > ul > li > ul > li > ul > li {
    background:#5B5E24;
}

.smart-style-6.minified nav ul ul li > a {
    padding-left: 53px;
    padding-right: 53px !important;
}
.smart-style-6.minified nav ul ul ul li a {
    padding-left: 33px !important;
    padding-right: 53px !important;
}
.smart-style-6.minified nav ul ul ul ul li a {
    padding-left: 43px !important;
    padding-right: 53px !important;
}
.smart-style-6.minified nav ul ul ul ul ul li a {
    padding-left: 53px !important;
    padding-right: 53px !important;
}
.smart-style-6.minified nav ul ul ul ul ul ul li a {
    padding-left: 63px !important;
    padding-right: 53px !important;
}


/*
 * widget colors
 */

.smart-style-6 .jarviswidget-color-darken > header  {
    background: #5B5E24 !important;
    border-color: #5B5E24 !important;
}

.smart-style-6 .jarviswidget-color-blueDark > header  {
    background: #353D4B !important;
    border-color: #353D4B !important;
}

.smart-style-6 .jarviswidget-color-blue > header {
    background: #688F9E;
    border-color: #6A838D !important;
}

.smart-style-6 .jarviswidget-color-purple > header {
    background: #736086;
}

.smart-style-6 .jarviswidget-color-red > header {
    background: #C02635;
    border-color: #8F2529 !important;
}

.smart-style-6  .jarviswidget .bg-color-red {
    background: #C02635 !important;
}

.smart-style-6 .jarviswidget-color-greenLight > header, .smart-style-6 .jarviswidget .bg-color-greenLight {
    border-color: #96B447 !important;
    background: #96B447 !important;
}

.smart-style-6 .jarviswidget-color-yellow > header, .smart-style-6 .jarviswidget .bg-color-yellow {
    border-color: #DBB727 !important;
    background: #FDD05C !important;
    color: #25245F;
}

.smart-style-6 .jarviswidget-color-pink > header, .smart-style-6 .jarviswidget .bg-color-pink {
    background: #DB8EBB !important;
}


/******************************************************************/
/************************* Skin-7   甘晓东 *********************************/

body.smart-style-7, .smart-style-7 body {
	background:#f9f9f9 !important;
	font-family: Arial, sans-serif
}
.smart-style-7 #logo{
	margin-top:1vh;
	overflow: hidden;
}
.smart-style-7 #logo img {
	width: 125px;
	height: auto;
	padding-left: 3px;
	margin-top: -3px;
}

.smart-style-7 #header {
	background-color: #00946e;
	background-image: -moz-linear-gradient(bottom, #00946e, #16876a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00946e), to(#16876a));
	background-image: -webkit-linear-gradient(bottom, #00946e, #16876a);
	background-image: -o-linear-gradient(bottom, #00946e, #16876a);
	background-image: linear-gradient(to bottom, #00946e, #16876a);
	border-bottom: 1px solid #fff;
}

.smart-style-7 #ribbon {
	background: #c9c9c9;
} 

.smart-style-7 #ribbon .breadcrumb, .smart-style-7 #ribbon .breadcrumb a {
	color: #7C7C7C!important;
}

.smart-style-7 #ribbon .breadcrumb li:last-child, .smart-style-7 #ribbon .breadcrumb>.active {
	color: #5F5F5F;
}
.smart-style-7 #ribbon .breadcrumb>li+li:before{
	color: #333;
}
.smart-style-7.fixed-ribbon #ribbon {
	box-shadow: 0 .0625em .3125em rgba(0, 0, 0, .35);
}

.smart-style-7 .btn-header>:first-child>a,
.smart-style-7 #logo-group span#activity {
	background: #6e6e6e !important;
	color: #fff !important;
	border: none;
	text-shadow: #fff 0 2px 3px;
} 
.smart-style-7 #hide-menu i {
	color: #fff !important;
}
.smart-style-7 #hide-menu i:hover {
	color: #6e6e6e !important;
}
.smart-style-7 .btn-header>:first-child>a:hover,
.smart-style-7 #logo-group span#activity:hover,
.smart-style-7 .btn-header>:first-child>a:active,
.smart-style-7 #logo-group span#activity:active {
	background: #fff !important;
	color:#6e6e6e !important;
}

.smart-style-7 #project-selector, 
.smart-style-7 #project-context>:first-child,
.smart-style-7 .header-dropdown-list>li>.dropdown-toggle {
	color:#c9c9c9;
	text-shadow: 0px 0px 13px #fff;
}

.smart-style-7 .header-dropdown-list>li>.dropdown-toggle {
	display: block;
	background: rgba(0,0,0,0.2);
	padding: 2px 7px 3px;
	border-radius: 3px;
	margin-top: 14px;
}

.smart-style-7 .header-search>input[type=text] {
	border-color: #CA854F;
}

.smart-style-7 .header-search>button {
	color: #DF9B45;
}

.smart-style-7 aside {
	background: #00946e;
	background: -webkit-linear-gradient(top, #00946e, #f9f9f9);
	border-right:2px solid;
	border-image: -webkit-linear-gradient(#c9c9c9,#f9f9f9) 20 70;
    border-image: -moz-linear-gradient(#c9c9c9,#f9f9f9) 20 70;
	border-image:linear-gradient(#c9c9c9,#f9f9f9) 20 70;
	-webkit-transform:all 0.2s !important;
}
.smart-style-7 .login-info span {
	border-bottom:none;
}
.smart-style-7 .login-info img{
	border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.smart-style-7 .login-info a span {
	color: #fff !important;
}

.smart-style-7 .login-info {
	border:none;
	border-bottom: 1px solid #fff;
	background: -webkit-linear-gradient(left, #00946e 25%, #c9c9c9);
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

.smart-style-7 nav ul li a, .smart-style-7 nav ul li.open>a, .smart-style-7 nav ul li.open>a b {
	color: #333 !important;
	text-shadow: 0px 0px 13px #fff;
}
.smart-style-7 nav ul li a:hover, .smart-style-7 nav ul li.open>a:hover, .smart-style-7 nav ul li.open>a b:hover {
	color: #fff !important;
}
.smart-style-7 nav>ul>li {
	background-color: #00946e;
	background-image: -moz-linear-gradient(right, #00946e, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00946e), to(#fff));
	background-image: -webkit-linear-gradient(right, #00946e, #fff);
	background-image: -o-linear-gradient(right, #00946e, #fff);
	background-image: linear-gradient(to right, #00946e, #fff);
	border-bottom: 1px dashed #fff;
}

.smart-style-7 nav > ul > li.active>a:before {
	top: 10px !important;
}

.smart-style-7 nav>ul>li>a b {
	top: 12px;
}

.smart-style-7 nav ul li.active>a:before {
	top: 6px;
}

.smart-style-7 nav>ul>li.open {
	border-left: 4px dashed #fff;
}

.smart-style-7 nav>ul>li > a{
	padding: 12px 10px 12px 11px;
	font-size: 13px;
}

.smart-style-7 nav>ul>li>a>i {
	color: #fff;
	font-size: 20px;
}

.smart-style-7 nav ul ul {
	background:none;
}

.smart-style-7 nav ul ul li>a {
	font-size: 13px;
}
.smart-style-7 nav ul ul li.open{
	border-left: 2px dashed #fff;
}
.smart-style-7 nav ul li a:hover {
	background: rgba(0,0,0,0.2) !important;
}
.smart-style-7 nav>ul>li.open > a {
	padding-left:7px;
}
.smart-style-7 nav>ul>li.open ul li>a {
	padding-left: 38px;
}
.smart-style-7 nav>ul ul li::before,
.smart-style-7 nav>ul>li>ul::before {
	border:none;
}
.smart-style-7  nav ul li.active>a {
	font-weight:bold;
}
.smart-style-7  nav ul li.active>a:before {
	color:#bbb;
}
.smart-style-7 .inbox-footer, 
.smart-style-7 .superbox-show {
	background:#3D3B39;
}
.smart-style-7 .superbox-list.active:before {
	color:#3D3B39;
}

.smart-style-7 nav>ul>li.open > ul > li > a {
	padding-left: 38px;
}
.smart-style-7 nav~span.minifyme{
	background: #6e6e6e;
	color:#fff;
	border-radius: 10px 0 0 10px;
}
/*
 * MINIFIED
 */
.smart-style-7.minified nav>ul>li {
	border-bottom: 1px solid #E9E4E4;
	border-top: 1px solid #FFFFFF;
}
.smart-style-7.minified nav>ul>li>ul,
.smart-style-7.minified nav>ul>li>ul>li>ul>li {
	background-color: rgba(0,0,0,0);
}
.smart-style-7.minified nav ul li a, 
.smart-style-7.minified nav ul li.open>a, 
.smart-style-7.minified nav ul li.open>a b {
	color:#fff !important;
}
.smart-style-7.minified nav>ul>li.open ul li>a {
	padding-left:14px;
}
.smart-style-7 .active+.ajax-dropdown {
	-webkit-box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
	box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
}
@media (max-width: 979px) {
	.smart-style-7 #content {
		padding-left: 5px;
		padding-right: 5px;
	}
	.smart-style-7 #ribbon {
		margin-left:0px;
		margin-right:0px;
		margin-top:0px;
		border-radius:0px;
	}
}
.smart-style-7 .dropdown-menu>.active>a, 
.smart-style-7 .dropdown-menu>.active>a:hover,
.smart-style-7 .dropdown-menu>li>a:hover, 
.smart-style-7 .dropdown-menu>li>a:focus,
.smart-style-7 .tt-suggestion.tt-is-under-cursor {
	background-color: #EC9519;
	color: #fff;
	cursor: pointer;
}
.smart-style-7 .dropdown-menu>li>a {
	color: #4E361B;
}
.smart-style-7 .dropdown-menu {
	border-radius: 0;
	border-bottom: 2px solid #ADADAD;
	background: #FDDFB3;
}
.smart-style-7 .dropdown-menu .divider {
	background-color: #EBC7A6;
}
.smart-style-7 .dropdown-menu-large .dropdown-header {
	color: #5C391E;
}
.smart-style-7 .dropdown-menu-large>li ul>li>a:focus, 
.smart-style-7 .dropdown-menu-large>li ul>li>a:hover {
	border-radius:3px;
	background-color: #F1B686;
}
/*
 * FORMS
 */
.smart-style-7 input:not([type]), 
.smart-style-7 input[type="color"], 
.smart-style-7 input[type="email"], 
.smart-style-7 input[type="number"], 
.smart-style-7 input[type="password"], 
.smart-style-7 input[type="tel"], 
.smart-style-7 input[type="url"], 
.smart-style-7 input[type="text"],
.smart-style-7 textarea {
	border-top-color: #a3a3a3;
	border-left-color: #a3a3a3;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	-webkit-box-shadow: inset 0 1px 0 #d6d6d6;
	-moz-box-shadow: inset 0 1px 0 #d6d6d6;
	box-shadow: inset 0 1px 0 #d6d6d6;
	color: #000;
}

.smart-style-7 .has-warning .form-control {
	border-color: #c09853 !important;
}
.smart-style-7 .has-error .form-control {
	border-color: #b94a48 !important;
}

.smart-style-7 .has-success .form-control {
	border-color: #468847 !important;
}
.smart-style-7 .select2-container-multi .select2-choices .select2-search-field input, .smart-style-7 .tt-hint {
	box-shadow: none !important;
	border:none !important;
}
/*
 * Shortcut
 */
.smart-style-7 #shortcut {
	background-color: rgba(0,0,0,0.7);
}
.smart-style-7 #shortcut ul li .jarvismetro-tile{
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
/*
 * alerts
 */
.smart-style-7 .bigBox span, .smart-style-7 .SmallBox span {
	letter-spacing:0px;
}

/******************************************************************/
